body{
      background-color: rgb(25, 25, 25);
      color: white;
      margin: 50px;
    }
    .rock{
      height: 60px;
    }
    .move{
      background-color : transparent;
      border: 3px solid white;
      padding: 30px;
      border-radius: 60px;
      margin: 10px;

    }
    .score{
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 30px;
    }
    .Reset-button,.auto-play-button{
      padding: 10px;
      border: none;
      font-size: 20px;
    }